.venv/
venv/

__pycache__/
*.pyc

sprites/DELTARUNE Sprites/
sprites/UNDERTALE Sprites/
sounds/undertale_sounds/
sounds/deltarune_sounds/
save_*.json
html_file.txt
room_template.json
room_translator.py
Rooms.html

.DS_Store

.env